.central-part 
	.header 
		font-size: 200px
		color: white
		font-family: "Alexbrush-regular", Helvetica, Arial, sans-serif

	.description 
		color: white
		font-family: "Sourcesanspro-extralight", Helvetica, Arial, sans-serif


	.link
		color: white
		text-decoration: underline
		
	.link:hover
		color: #b0c5a9
		text-decoration: none