html, body 
    height: 100%

.wrapper 
	height: 100%
	background: white
	// background-image: url('/images/background.jpg')
	// background-image: url('/images/tpl-backgrounds/rain-wallpaper-2.jpg')
	background-position: center center
	background-repeat: no-repeat

.content 
    width: 800px
    display: table
    height: 100%
    margin: 0 auto

.content-inner 
	display: table-cell
	vertical-align: middle
	text-align: center

.some-other-style 
	width: 800px
	display: table
	height: 100%
	margin: 0 auto
	color: white
	backgrond: white 