#constructor
  .left
    .canvas-container(width='503' height='750')
      .canvas-container(style='width: 503px; height: 750px; position: relative; user-select: none;')
        canvas#c.lower-canvas(width='503' height='750' src style='position: absolute; width: 503px; height: 750px; left: 0px; top: 0px; touch-action: none; user-select: none;')
        canvas.upper-canvas(width='503' height='750' style='position: absolute; width: 503px; height: 750px; left: 0px; top: 0px; touch-action: none; user-select: none; cursor: default;')
    //  Выводим типы памятников табами 
    section.tabs-constructor
      input#tab-constructor_1(type='radio' name='tab' checked)
      input#tab-constructor_2(type='radio' name='tab')
      input#tab-constructor_3(type='radio' name='tab')
      input#tab-constructor_4(type='radio' name='tab')
      input#tab-constructor_5(type='radio' name='tab')
      label#tab-constructor_l1(for='tab-constructor_1')
        .tab-constructor-img
          img(src='/images/icons/p-i-1.svg' alt='вертикальные памятники' title='вертикальные памятники')
        | Вертикальные
      label#tab-constructor_l2(for='tab-constructor_2')
        .tab-constructor-img
          img(src='/images/icons/p-i-2.svg' alt='горизонтальные памятники' title='горизонтальные памятники')
        | Горизонтальные
      label#tab-constructor_l3(for='tab-constructor_3')
        .tab-constructor-img
          img(src='/images/icons/p-i-3.svg' alt='фигурные памятники' title='фигурные памятники')
        | Фигурные
      label#tab-constructor_l4(for='tab-constructor_4')
        .tab-constructor-img
          img(src='/images/icons/p-i-4.svg' alt='резные памятники' title='резные памятники')
        | Резные
      label#tab-constructor_l5(for='tab-constructor_5')
        .tab-constructor-img
          img(src='/images/icons/p-i-5.svg' alt='памятники арки' title='памятники арки')
        |  Арки
      .tabs-constructor_cont
        //  Выводим 1-ый тип памятников во вкладке (в табе) 
        #tab-constructor_c1
          ul#slide-mem
            li
              img(src='/images/memorial/p1.png')
            li
              img(src='/images/memorial/p10.png')
            li
              img(src='/images/memorial/p11.png')
            li
              img(src='/images/memorial/p12.png')
            li
              img(src='/images/memorial/p13.png')
            li
              img(src='/images/memorial/p14.png')
            li
              img(src='/images/memorial/p15.png')
            li
              img(src='/images/memorial/p16.png')
            li
              img(src='/images/memorial/p17.png')
            li
              img(src='/images/memorial/p18.png')
            li
              img(src='/images/memorial/p19.png')
            li
              img(src='/images/memorial/p2.png')
            li
              img(src='/images/memorial/p20.png')
            li
              img(src='/images/memorial/p21.png')
            li
              img(src='/images/memorial/p22.png')
            li
              img(src='/images/memorial/p23.png')
            li
              img(src='/images/memorial/p24.png')
            li
              img(src='/images/memorial/p25.png')
            li
              img(src='/images/memorial/p26.png')
            li
              img(src='/images/memorial/p27.png')
            li
              img(src='/images/memorial/p28.png')
            li
              img(src='/images/memorial/p29.png')
            li
              img(src='/images/memorial/p3.png')
            li
              img(src='/images/memorial/p30.png')
            li
              img(src='/images/memorial/p31.png')
            li
              img(src='/images/memorial/p32.png')
            li
              img(src='/images/memorial/p33.png')
            li
              img(src='/images/memorial/p34.png')
            li
              img(src='/images/memorial/p35.png')
            li
              img(src='/images/memorial/p36.png')
            li
              img(src='/images/memorial/p37.png')
            li
              img(src='/images/memorial/p38.png')
            li
              img(src='/images/memorial/p39.png')
            li
              img(src='/images/memorial/p4.png')
            li
              img(src='/images/memorial/p40.png')
            li
              img(src='/images/memorial/p41.png')
            li
              img(src='/images/memorial/p42.png')
            li
              img(src='/images/memorial/p43.png')
            li
              img(src='/images/memorial/p44.png')
            li
              img(src='/images/memorial/p45.png')
            li
              img(src='/images/memorial/p46.png')
            li
              img(src='/images/memorial/p47.png')
            li
              img(src='/images/memorial/p48.png')
            li
              img(src='/images/memorial/p49.png')
            li
              img(src='/images/memorial/p5.png')
            li
              img(src='/images/memorial/p50.png')
            li
              img(src='/images/memorial/p51.png')
            li
              img(src='/images/memorial/p52.png')
            li
              img(src='/images/memorial/p53.png')
            li
              img(src='/images/memorial/p54.png')
            li
              img(src='/images/memorial/p55.png')
            li
              img(src='/images/memorial/p56.png')
            li
              img(src='/images/memorial/p6.png')
            li
              img(src='/images/memorial/p7.png')
            li
              img(src='/images/memorial/p8.png')
            li
              img(src='/images/memorial/p9.png')
        //  Выводим 2-ый тип памятников во вкладке (в табе) 
        #tab-constructor_c2
          ul#slide-mem
            li
              img(src='/images/memorial-dvoynoy/w1.png')
            li
              img(src='/images/memorial-dvoynoy/w10.png')
            li
              img(src='/images/memorial-dvoynoy/w11.png')
            li
              img(src='/images/memorial-dvoynoy/w12.png')
            li
              img(src='/images/memorial-dvoynoy/w13.png')
            li
              img(src='/images/memorial-dvoynoy/w14.png')
            li
              img(src='/images/memorial-dvoynoy/w15.png')
            li
              img(src='/images/memorial-dvoynoy/w16.png')
            li
              img(src='/images/memorial-dvoynoy/w17.png')
            li
              img(src='/images/memorial-dvoynoy/w18.png')
            li
              img(src='/images/memorial-dvoynoy/w19.png')
            li
              img(src='/images/memorial-dvoynoy/w2.png')
            li
              img(src='/images/memorial-dvoynoy/w20.png')
            li
              img(src='/images/memorial-dvoynoy/w21.png')
            li
              img(src='/images/memorial-dvoynoy/w22.png')
            li
              img(src='/images/memorial-dvoynoy/w23.png')
            li
              img(src='/images/memorial-dvoynoy/w24.png')
            li
              img(src='/images/memorial-dvoynoy/w25.jpg')
            li
              img(src='/images/memorial-dvoynoy/w26.jpg')
            li
              img(src='/images/memorial-dvoynoy/w27.jpg')
            li
              img(src='/images/memorial-dvoynoy/w28.jpg')
            li
              img(src='/images/memorial-dvoynoy/w29.jpg')
            li
              img(src='/images/memorial-dvoynoy/w3.png')
            li
              img(src='/images/memorial-dvoynoy/w30.jpg')
            li
              img(src='/images/memorial-dvoynoy/w31.jpg')
            li
              img(src='/images/memorial-dvoynoy/w32.jpg')
            li
              img(src='/images/memorial-dvoynoy/w33.jpg')
            li
              img(src='/images/memorial-dvoynoy/w34.jpg')
            li
              img(src='/images/memorial-dvoynoy/w35.jpg')
            li
              img(src='/images/memorial-dvoynoy/w36.jpg')
            li
              img(src='/images/memorial-dvoynoy/w37.jpg')
            li
              img(src='/images/memorial-dvoynoy/w38.jpg')
            li
              img(src='/images/memorial-dvoynoy/w39.jpg')
            li
              img(src='/images/memorial-dvoynoy/w4.png')
            li
              img(src='/images/memorial-dvoynoy/w40.jpg')
            li
              img(src='/images/memorial-dvoynoy/w41.jpg')
            li
              img(src='/images/memorial-dvoynoy/w42.jpg')
            li
              img(src='/images/memorial-dvoynoy/w43.jpg')
            li
              img(src='/images/memorial-dvoynoy/w44.jpg')
            li
              img(src='/images/memorial-dvoynoy/w45.jpg')
            li
              img(src='/images/memorial-dvoynoy/w5.png')
            li
              img(src='/images/memorial-dvoynoy/w6.png')
            li
              img(src='/images/memorial-dvoynoy/w7.png')
            li
              img(src='/images/memorial-dvoynoy/w8.png')
            li
              img(src='/images/memorial-dvoynoy/w9.png')
        //  Выводим 3-ый тип памятников во вкладке (в табе) 
        #tab-constructor_c3
          ul#slide-mem
            li
              img(src='/images/memorial-figurny/F-001.jpg')
            li
              img(src='/images/memorial-figurny/F-002.jpg')
            li
              img(src='/images/memorial-figurny/F-003.jpg')
            li
              img(src='/images/memorial-figurny/F-004.jpg')
            li
              img(src='/images/memorial-figurny/F-005.jpg')
            li
              img(src='/images/memorial-figurny/F-006.jpg')
            li
              img(src='/images/memorial-figurny/F-007.jpg')
            li
              img(src='/images/memorial-figurny/F-008.jpg')
            li
              img(src='/images/memorial-figurny/F-009.jpg')
            li
              img(src='/images/memorial-figurny/F-010.jpg')
            li
              img(src='/images/memorial-figurny/F-011.jpg')
            li
              img(src='/images/memorial-figurny/F-012.jpg')
            li
              img(src='/images/memorial-figurny/F-013.jpg')
            li
              img(src='/images/memorial-figurny/F-014.jpg')
            li
              img(src='/images/memorial-figurny/F-015.jpg')
            li
              img(src='/images/memorial-figurny/F-016.jpg')
            li
              img(src='/images/memorial-figurny/F-017.jpg')
            li
              img(src='/images/memorial-figurny/F-018.jpg')
            li
              img(src='/images/memorial-figurny/F-019.jpg')
            li
              img(src='/images/memorial-figurny/F-020.jpg')
            li
              img(src='/images/memorial-figurny/F-021.jpg')
            li
              img(src='/images/memorial-figurny/F-022.jpg')
            li
              img(src='/images/memorial-figurny/F-023.jpg')
            li
              img(src='/images/memorial-figurny/F-024.jpg')
            li
              img(src='/images/memorial-figurny/F-025.jpg')
            li
              img(src='/images/memorial-figurny/F-026.jpg')
            li
              img(src='/images/memorial-figurny/F-027.jpg')
            li
              img(src='/images/memorial-figurny/F-028.jpg')
            li
              img(src='/images/memorial-figurny/F-029.jpg')
            li
              img(src='/images/memorial-figurny/F-030.jpg')
            li
              img(src='/images/memorial-figurny/F-031.jpg')
        //  Выводим 4-ый тип памятников во вкладке (в табе) 
        #tab-constructor_c4
          ul#slide-mem
            li
              img(src='/images/memorial-reznoy/R-001.jpg')
            li
              img(src='/images/memorial-reznoy/R-002.jpg')
            li
              img(src='/images/memorial-reznoy/R-003.jpg')
            li
              img(src='/images/memorial-reznoy/R-004.jpg')
            li
              img(src='/images/memorial-reznoy/R-005.jpg')
            li
              img(src='/images/memorial-reznoy/R-006.jpg')
            li
              img(src='/images/memorial-reznoy/R-007.jpg')
            li
              img(src='/images/memorial-reznoy/R-008.jpg')
            li
              img(src='/images/memorial-reznoy/R-009.jpg')
            li
              img(src='/images/memorial-reznoy/R-010.jpg')
            li
              img(src='/images/memorial-reznoy/R-011.jpg')
            li
              img(src='/images/memorial-reznoy/R-012.jpg')
            li
              img(src='/images/memorial-reznoy/R-013.jpg')
            li
              img(src='/images/memorial-reznoy/R-014.jpg')
            li
              img(src='/images/memorial-reznoy/R-015.jpg')
            li
              img(src='/images/memorial-reznoy/R-016.jpg')
            li
              img(src='/images/memorial-reznoy/R-017.jpg')
            li
              img(src='/images/memorial-reznoy/R-018.jpg')
            li
              img(src='/images/memorial-reznoy/R-019.jpg')
            li
              img(src='/images/memorial-reznoy/R-020.jpg')
        //  Выводим 5-ый тип памятников во вкладке (в табе) 
        #tab-constructor_c5
          ul#slide-mem
            li
              img(src='/images/memorial-arki/arka1.jpg')
            li
              img(src='/images/memorial-arki/arka10.jpg')
            li
              img(src='/images/memorial-arki/arka11.jpg')
            li
              img(src='/images/memorial-arki/arka12.jpg')
            li
              img(src='/images/memorial-arki/arka2.jpg')
            li
              img(src='/images/memorial-arki/arka3.jpg')
            li
              img(src='/images/memorial-arki/arka4.jpg')
            li
              img(src='/images/memorial-arki/arka5.jpg')
            li
              img(src='/images/memorial-arki/arka6.jpg')
            li
              img(src='/images/memorial-arki/arka7.jpg')
            li
              img(src='/images/memorial-arki/arka8.jpg')
            li
              img(src='/images/memorial-arki/arka9.jpg')
  .right
    p(style='margin: 10px 5px; padding: 0;') Выберите вариант портрета:
    .face-panel.addImg
      .accordeon.portret Гравировка
      ul.hide
        li
          img(src='/images/face-panel/GR-1.png')
        li
          img(src='/images/face-panel/GR-2.png')
        li
          img(src='/images/face-panel/GR-3.png')
        li
          img(src='/images/face-panel/GR-4.png')
        li
          img(src='/images/face-panel/man.png')
        li
          img(src='/images/face-panel/oval.png')
        li
          img(src='/images/face-panel/pryamoug.png')
        li
          img(src='/images/face-panel/woman.png')
    .face-panel.addImg
      .accordeon.portret Фотокерамика
      ul.hide
        li
          img(src='/images/fotokeramika/foto5.png')
        li
          img(src='/images/fotokeramika/foto6.png')
        li
          img(src='/images/fotokeramika/foto7.png')
        li
          img(src='/images/fotokeramika/foto8.png')
    .face-panel.addImg
      .accordeon.tablichki Табличка
      ul.hide
        li
          img(src='/images/tablichki/tablichka1.png')
        li
          img(src='/images/tablichki/tablichka10.png')
        li
          img(src='/images/tablichki/tablichka11.png')
        li
          img(src='/images/tablichki/tablichka12.png')
        li
          img(src='/images/tablichki/tablichka13.png')
        li
          img(src='/images/tablichki/tablichka14.png')
        li
          img(src='/images/tablichki/tablichka15.png')
        li
          img(src='/images/tablichki/tablichka16.png')
        li
          img(src='/images/tablichki/tablichka17.png')
        li
          img(src='/images/tablichki/tablichka2.png')
        li
          img(src='/images/tablichki/tablichka3.png')
        li
          img(src='/images/tablichki/tablichka4.png')
        li
          img(src='/images/tablichki/tablichka5.png')
        li
          img(src='/images/tablichki/tablichka6.png')
        li
          img(src='/images/tablichki/tablichka7.png')
        li
          img(src='/images/tablichki/tablichka8.png')
        li
          img(src='/images/tablichki/tablichka9.png')
    p(style='margin: 10px 5px; padding: 0;') Добавьте данные усопшего:
    .face-panel.addText
      .accordeon
        img(src='/images/icons/fio.svg' alt)
        | Фамилия
      ul.hide.colum-2(style='font-size: 21px; font-weight: bold;')
        li(style='font-family: \'Roboto Slab\', serif;' data-font='Roboto Slab' data-text='Фамилия') Фамилия
        li(style='font-family: \'Roboto Condensed\', sans-serif;' data-font='Roboto Condensed' data-text='Фамилия') Фамилия
        li(style='font-family: \'Roboto\', sans-serif;' data-font='Roboto' data-text='Фамилия') Фамилия
        li(style='font-family: \'Poiret One\', cursive;' data-font='Poiret One' data-text='Фамилия') Фамилия
        li(style='font-family: \'Playfair Display\', serif;' data-font='Playfair Display' data-text='Фамилия') Фамилия
        li(style='font-family: \'Oswald\', sans-serif;' data-font='Oswald' data-text='Фамилия') Фамилия
        li(style='font-family: \'Open Sans Condensed\', sans-serif;' data-font='Open Sans Condensed' data-text='Фамилия') Фамилия
        li(style='font-family: \'Open Sans\', sans-serif;' data-font='Open Sans' data-text='Фамилия') Фамилия
        li(style='font-family: \'Marck Script\', cursive;' data-font='Marck Script' data-text='Фамилия') Фамилия
        li(style='font-family: \'Lobster\', cursive;' data-font='Lobster' data-text='Фамилия') Фамилия
        li(style='font-family: \'Kelly Slab\', cursive;' data-font='Kelly Slab' data-text='Фамилия') Фамилия
        li(style='font-family: \'Gabriela\', serif;' data-font='Gabriela' data-text='Фамилия') Фамилия
        li(style='font-family: \'EB Garamond\', serif;' data-font='EB Garamond' data-text='Фамилия') Фамилия
        li(style='font-family: \'Cormorant Infant\', serif;' data-font='Cormorant Infant' data-text='Фамилия') Фамилия
        li(style='font-family: \'Bad Script\', cursive;' data-font='Bad Script' data-text='Фамилия') Фамилия
    .face-panel.addText
      .accordeon
        img(src='/images/icons/fio.svg' alt)
        | Имя
      ul.hide.colum-2(style='font-size: 21px; font-weight: bold;')
        li(style='font-family: \'Roboto Slab\', serif;' data-font='Roboto Slab' data-text='Имя') Имя
        li(style='font-family: \'Roboto Condensed\', sans-serif;' data-font='Roboto Condensed' data-text='Имя') Имя
        li(style='font-family: \'Roboto\', sans-serif;' data-font='Roboto' data-text='Имя') Имя
        li(style='font-family: \'Poiret One\', cursive;' data-font='Poiret One' data-text='Имя') Имя
        li(style='font-family: \'Playfair Display\', serif;' data-font='Playfair Display' data-text='Имя') Имя
        li(style='font-family: \'Oswald\', sans-serif;' data-font='Oswald' data-text='Имя') Имя
        li(style='font-family: \'Open Sans Condensed\', sans-serif;' data-font='Open Sans Condensed' data-text='Имя') Имя
        li(style='font-family: \'Open Sans\', sans-serif;' data-font='Open Sans' data-text='Имя') Имя
        li(style='font-family: \'Marck Script\', cursive;' data-font='Marck Script' data-text='Имя') Имя
        li(style='font-family: \'Lobster\', cursive;' data-font='Lobster' data-text='Имя') Имя
        li(style='font-family: \'Kelly Slab\', cursive;' data-font='Kelly Slab' data-text='Имя') Имя
        li(style='font-family: \'Gabriela\', serif;' data-font='Gabriela' data-text='Имя') Имя
        li(style='font-family: \'EB Garamond\', serif;' data-font='EB Garamond' data-text='Имя') Имя
        li(style='font-family: \'Cormorant Infant\', serif;' data-font='Cormorant Infant' data-text='Имя') Имя
        li(style='font-family: \'Bad Script\', cursive;' data-font='Bad Script' data-text='Имя') Имя
    .face-panel.addText
      .accordeon
        img(src='/images/icons/fio.svg' alt)
        | Отчество
      ul.hide.colum-2(style='font-size: 21px; font-weight: bold;')
        li(style='font-family: \'Roboto Slab\', serif;' data-font='Roboto Slab' data-text='Отчество') Отчество
        li(style='font-family: \'Roboto Condensed\', sans-serif;' data-font='Roboto Condensed' data-text='Отчество') Отчество
        li(style='font-family: \'Roboto\', sans-serif;' data-font='Roboto' data-text='Отчество') Отчество
        li(style='font-family: \'Poiret One\', cursive;' data-font='Poiret One' data-text='Отчество') Отчество
        li(style='font-family: \'Playfair Display\', serif;' data-font='Playfair Display' data-text='Отчество') Отчество
        li(style='font-family: \'Oswald\', sans-serif;' data-font='Oswald' data-text='Отчество') Отчество
        li(style='font-family: \'Open Sans Condensed\', sans-serif;' data-font='Open Sans Condensed' data-text='Отчество') Отчество
        li(style='font-family: \'Open Sans\', sans-serif;' data-font='Open Sans' data-text='Отчество') Отчество
        li(style='font-family: \'Marck Script\', cursive;' data-font='Marck Script' data-text='Отчество') Отчество
        li(style='font-family: \'Lobster\', cursive;' data-font='Lobster' data-text='Отчество') Отчество
        li(style='font-family: \'Kelly Slab\', cursive;' data-font='Kelly Slab' data-text='Отчество') Отчество
        li(style='font-family: \'Gabriela\', serif;' data-font='Gabriela' data-text='Отчество') Отчество
        li(style='font-family: \'EB Garamond\', serif;' data-font='EB Garamond' data-text='Отчество') Отчество
        li(style='font-family: \'Cormorant Infant\', serif;' data-font='Cormorant Infant' data-text='Отчество') Отчество
        li(style='font-family: \'Bad Script\', cursive;' data-font='Bad Script' data-text='Отчество') Отчество
    .face-panel.addText
      .accordeon
        img(src='/images/icons/calendar.svg' alt)
        | Даты
      ul.hide.colum-2(style='font-size: 21px; font-weight: bold;')
        li(style='font-family: \'Roboto Slab\', serif;' data-font='Roboto Slab' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Roboto Condensed\', sans-serif;' data-font='Roboto Condensed' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Roboto\', sans-serif;' data-font='Roboto' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Poiret One\', cursive;' data-font='Poiret One' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Playfair Display\', serif;' data-font='Playfair Display' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Oswald\', sans-serif;' data-font='Oswald' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Open Sans Condensed\', sans-serif;' data-font='Open Sans Condensed' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Open Sans\', sans-serif;' data-font='Open Sans' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Marck Script\', cursive;' data-font='Marck Script' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Lobster\', cursive;' data-font='Lobster' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Kelly Slab\', cursive;' data-font='Kelly Slab' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Gabriela\', serif;' data-font='Gabriela' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'EB Garamond\', serif;' data-font='EB Garamond' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Cormorant Infant\', serif;' data-font='Cormorant Infant' data-text='23.04.1947 - 23.04.1947') 23.04.1947
        li(style='font-family: \'Bad Script\', cursive;' data-font='Bad Script' data-text='23.04.1947 - 23.04.1947') 23.04.1947
    p(style='margin: 10px 5px; padding: 0;') Подберите слова:
    .face-panel.addImg
      .accordeon.epitafiya Эпитафия
      ul.hide.colum-1
        li
          img(src='/images/epitafii/epitafy1.png')
        li
          img(src='/images/epitafii/epitafy10.png')
        li
          img(src='/images/epitafii/epitafy11.png')
        li
          img(src='/images/epitafii/epitafy12.png')
        li
          img(src='/images/epitafii/epitafy13.png')
        li
          img(src='/images/epitafii/epitafy14.png')
        li
          img(src='/images/epitafii/epitafy15.png')
        li
          img(src='/images/epitafii/epitafy2.png')
        li
          img(src='/images/epitafii/epitafy3.png')
        li
          img(src='/images/epitafii/epitafy4.png')
        li
          img(src='/images/epitafii/epitafy5.png')
        li
          img(src='/images/epitafii/epitafy6.png')
        li
          img(src='/images/epitafii/epitafy7.png')
        li
          img(src='/images/epitafii/epitafy8.png')
        li
          img(src='/images/epitafii/epitafy9.png')
    .face-panel.addImg
      .accordeon.nadpis-izobrazhenie Надпись с изображением
      ul.hide
        li
          img(src='/images/nadpis-izobrazhenie/N-IZ-009.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie1.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie2.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie3.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie4.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie5.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie6.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie7.png')
        li
          img(src='/images/nadpis-izobrazhenie/nadpis-izobrazhenie8.png')
    p(style='margin: 10px 5px; padding: 0;') Добавьте оформления:
    .face-panel.addImg
      .accordeon.hram Церкви
      ul.hide
        li
          img(src='/images/hram/cerkov1.png')
        li
          img(src='/images/hram/cerkov10.png')
        li
          img(src='/images/hram/cerkov11.png')
        li
          img(src='/images/hram/cerkov12.png')
        li
          img(src='/images/hram/cerkov13.png')
        li
          img(src='/images/hram/cerkov14.png')
        li
          img(src='/images/hram/cerkov15.png')
        li
          img(src='/images/hram/cerkov16.png')
        li
          img(src='/images/hram/cerkov2.png')
        li
          img(src='/images/hram/cerkov3.png')
        li
          img(src='/images/hram/cerkov4.png')
        li
          img(src='/images/hram/cerkov5.png')
        li
          img(src='/images/hram/cerkov6.png')
        li
          img(src='/images/hram/cerkov7.png')
        li
          img(src='/images/hram/cerkov8.png')
        li
          img(src='/images/hram/cerkov9.png')
    .face-panel.addImg
      .accordeon.ikona Иконы
      ul.hide
        li
          img(src='/images/ikona/ikona1.png')
        li
          img(src='/images/ikona/ikona10.png')
        li
          img(src='/images/ikona/ikona11.png')
        li
          img(src='/images/ikona/ikona12.png')
        li
          img(src='/images/ikona/ikona13.png')
        li
          img(src='/images/ikona/ikona14.png')
        li
          img(src='/images/ikona/ikona15.png')
        li
          img(src='/images/ikona/ikona16.png')
        li
          img(src='/images/ikona/ikona17.png')
        li
          img(src='/images/ikona/ikona18.png')
        li
          img(src='/images/ikona/ikona19.png')
        li
          img(src='/images/ikona/ikona2.png')
        li
          img(src='/images/ikona/ikona20.png')
        li
          img(src='/images/ikona/ikona21.png')
        li
          img(src='/images/ikona/ikona22.png')
        li
          img(src='/images/ikona/ikona23.png')
        li
          img(src='/images/ikona/ikona24.png')
        li
          img(src='/images/ikona/ikona25.png')
        li
          img(src='/images/ikona/ikona26.png')
        li
          img(src='/images/ikona/ikona27.png')
        li
          img(src='/images/ikona/ikona28.png')
        li
          img(src='/images/ikona/ikona3.png')
        li
          img(src='/images/ikona/ikona4.png')
        li
          img(src='/images/ikona/ikona5.png')
        li
          img(src='/images/ikona/ikona6.png')
        li
          img(src='/images/ikona/ikona7.png')
        li
          img(src='/images/ikona/ikona8.png')
        li
          img(src='/images/ikona/ikona9.png')
    .face-panel.addImg
      .accordeon.angel Ангелы
      ul.hide
        li
          img(src='/images/angel/angel1.png')
        li
          img(src='/images/angel/angel10.png')
        li
          img(src='/images/angel/angel11.png')
        li
          img(src='/images/angel/angel12.png')
        li
          img(src='/images/angel/angel13.png')
        li
          img(src='/images/angel/angel14.png')
        li
          img(src='/images/angel/angel15.png')
        li
          img(src='/images/angel/angel16.png')
        li
          img(src='/images/angel/angel17.png')
        li
          img(src='/images/angel/angel18.png')
        li
          img(src='/images/angel/angel19.png')
        li
          img(src='/images/angel/angel2.png')
        li
          img(src='/images/angel/angel20.png')
        li
          img(src='/images/angel/angel21.png')
        li
          img(src='/images/angel/angel22.png')
        li
          img(src='/images/angel/angel23.png')
        li
          img(src='/images/angel/angel24.png')
        li
          img(src='/images/angel/angel25.png')
        li
          img(src='/images/angel/angel26.png')
        li
          img(src='/images/angel/angel27.png')
        li
          img(src='/images/angel/angel28.png')
        li
          img(src='/images/angel/angel29.png')
        li
          img(src='/images/angel/angel3.png')
        li
          img(src='/images/angel/angel30.png')
        li
          img(src='/images/angel/angel31.png')
        li
          img(src='/images/angel/angel32.png')
        li
          img(src='/images/angel/angel33.png')
        li
          img(src='/images/angel/angel4.png')
        li
          img(src='/images/angel/angel5.png')
        li
          img(src='/images/angel/angel6.png')
        li
          img(src='/images/angel/angel7.png')
        li
          img(src='/images/angel/angel8.png')
        li
          img(src='/images/angel/angel9.png')
    .face-panel.addImg
      .accordeon.simvol Христианство
      ul.hide
        li
          img(src='/images/simvol/simvol1.png')
        li
          img(src='/images/simvol/simvol2.png')
        li
          img(src='/images/simvol/simvol3.png')
        li
          img(src='/images/simvol/simvol4.png')
    .face-panel.addImg
      .accordeon.svechi Свечи
      ul.hide
        li
          img(src='/images/candles/svecha1.png')
        li
          img(src='/images/candles/svecha10.png')
        li
          img(src='/images/candles/svecha11.png')
        li
          img(src='/images/candles/svecha12.png')
        li
          img(src='/images/candles/svecha13.png')
        li
          img(src='/images/candles/svecha14.png')
        li
          img(src='/images/candles/svecha15.png')
        li
          img(src='/images/candles/svecha16.png')
        li
          img(src='/images/candles/svecha17.png')
        li
          img(src='/images/candles/svecha18.png')
        li
          img(src='/images/candles/svecha19.png')
        li
          img(src='/images/candles/svecha2.png')
        li
          img(src='/images/candles/svecha20.png')
        li
          img(src='/images/candles/svecha21.png')
        li
          img(src='/images/candles/svecha22.png')
        li
          img(src='/images/candles/svecha23.png')
        li
          img(src='/images/candles/svecha24.png')
        li
          img(src='/images/candles/svecha25.png')
        li
          img(src='/images/candles/svecha26.png')
        li
          img(src='/images/candles/svecha27.png')
        li
          img(src='/images/candles/svecha28.png')
        li
          img(src='/images/candles/svecha29.png')
        li
          img(src='/images/candles/svecha3.png')
        li
          img(src='/images/candles/svecha30.png')
        li
          img(src='/images/candles/svecha31.png')
        li
          img(src='/images/candles/svecha32.png')
        li
          img(src='/images/candles/svecha33.png')
        li
          img(src='/images/candles/svecha34.png')
        li
          img(src='/images/candles/svecha35.png')
        li
          img(src='/images/candles/svecha36.png')
        li
          img(src='/images/candles/svecha37.png')
        li
          img(src='/images/candles/svecha38.png')
        li
          img(src='/images/candles/svecha39.png')
        li
          img(src='/images/candles/svecha4.png')
        li
          img(src='/images/candles/svecha40.png')
        li
          img(src='/images/candles/svecha41.png')
        li
          img(src='/images/candles/svecha42.png')
        li
          img(src='/images/candles/svecha43.png')
        li
          img(src='/images/candles/svecha44.png')
        li
          img(src='/images/candles/svecha45.png')
        li
          img(src='/images/candles/svecha46.png')
        li
          img(src='/images/candles/svecha47.png')
        li
          img(src='/images/candles/svecha48.png')
        li
          img(src='/images/candles/svecha49.png')
        li
          img(src='/images/candles/svecha5.png')
        li
          img(src='/images/candles/svecha50.png')
        li
          img(src='/images/candles/svecha51.png')
        li
          img(src='/images/candles/svecha52.png')
        li
          img(src='/images/candles/svecha53.png')
        li
          img(src='/images/candles/svecha54.png')
        li
          img(src='/images/candles/svecha55.png')
        li
          img(src='/images/candles/svecha56.png')
        li
          img(src='/images/candles/svecha57.png')
        li
          img(src='/images/candles/svecha58.png')
        li
          img(src='/images/candles/svecha59.png')
        li
          img(src='/images/candles/svecha6.png')
        li
          img(src='/images/candles/svecha60.png')
        li
          img(src='/images/candles/svecha7.png')
        li
          img(src='/images/candles/svecha8.png')
        li
          img(src='/images/candles/svecha9.png')
    .face-panel.addImg
      .accordeon.krest Кресты
      ul.hide
        li
          img(src='/images/crosses/krestik1.png')
        li
          img(src='/images/crosses/krestik10.png')
        li
          img(src='/images/crosses/krestik11.png')
        li
          img(src='/images/crosses/krestik12.png')
        li
          img(src='/images/crosses/krestik13.png')
        li
          img(src='/images/crosses/krestik14.png')
        li
          img(src='/images/crosses/krestik15.png')
        li
          img(src='/images/crosses/krestik16.png')
        li
          img(src='/images/crosses/krestik17.png')
        li
          img(src='/images/crosses/krestik18.png')
        li
          img(src='/images/crosses/krestik19.png')
        li
          img(src='/images/crosses/krestik2.png')
        li
          img(src='/images/crosses/krestik20.png')
        li
          img(src='/images/crosses/krestik21.png')
        li
          img(src='/images/crosses/krestik22.png')
        li
          img(src='/images/crosses/krestik23.png')
        li
          img(src='/images/crosses/krestik24.png')
        li
          img(src='/images/crosses/krestik25.png')
        li
          img(src='/images/crosses/krestik26.png')
        li
          img(src='/images/crosses/krestik27.png')
        li
          img(src='/images/crosses/krestik28.png')
        li
          img(src='/images/crosses/krestik29.png')
        li
          img(src='/images/crosses/krestik3.png')
        li
          img(src='/images/crosses/krestik30.png')
        li
          img(src='/images/crosses/krestik31.png')
        li
          img(src='/images/crosses/krestik32.png')
        li
          img(src='/images/crosses/krestik33.png')
        li
          img(src='/images/crosses/krestik34.png')
        li
          img(src='/images/crosses/krestik35.png')
        li
          img(src='/images/crosses/krestik36.png')
        li
          img(src='/images/crosses/krestik37.png')
        li
          img(src='/images/crosses/krestik38.png')
        li
          img(src='/images/crosses/krestik39.png')
        li
          img(src='/images/crosses/krestik4.png')
        li
          img(src='/images/crosses/krestik40.png')
        li
          img(src='/images/crosses/krestik41.png')
        li
          img(src='/images/crosses/krestik42.png')
        li
          img(src='/images/crosses/krestik43.png')
        li
          img(src='/images/crosses/krestik44.png')
        li
          img(src='/images/crosses/krestik45.png')
        li
          img(src='/images/crosses/krestik46.png')
        li
          img(src='/images/crosses/krestik47.png')
        li
          img(src='/images/crosses/krestik48.png')
        li
          img(src='/images/crosses/krestik49.png')
        li
          img(src='/images/crosses/krestik5.png')
        li
          img(src='/images/crosses/krestik50.png')
        li
          img(src='/images/crosses/krestik51.png')
        li
          img(src='/images/crosses/krestik52.png')
        li
          img(src='/images/crosses/krestik53.png')
        li
          img(src='/images/crosses/krestik54.png')
        li
          img(src='/images/crosses/krestik55.png')
        li
          img(src='/images/crosses/krestik56.png')
        li
          img(src='/images/crosses/krestik57.png')
        li
          img(src='/images/crosses/krestik58.png')
        li
          img(src='/images/crosses/krestik59.png')
        li
          img(src='/images/crosses/krestik6.png')
        li
          img(src='/images/crosses/krestik60.png')
        li
          img(src='/images/crosses/krestik7.png')
        li
          img(src='/images/crosses/krestik8.png')
        li
          img(src='/images/crosses/krestik9.png')
    .face-panel.addImg
      .accordeon.vinetka Виньетки
      ul.hide
        li
          img(src='/images/vinetki/1.png')
        li
          img(src='/images/vinetki/10.png')
        li
          img(src='/images/vinetki/11.png')
        li
          img(src='/images/vinetki/12.png')
        li
          img(src='/images/vinetki/13.png')
        li
          img(src='/images/vinetki/14.png')
        li
          img(src='/images/vinetki/15.png')
        li
          img(src='/images/vinetki/16.png')
        li
          img(src='/images/vinetki/17.png')
        li
          img(src='/images/vinetki/18.png')
        li
          img(src='/images/vinetki/19.png')
        li
          img(src='/images/vinetki/2.png')
        li
          img(src='/images/vinetki/20.png')
        li
          img(src='/images/vinetki/21.png')
        li
          img(src='/images/vinetki/22.png')
        li
          img(src='/images/vinetki/23.png')
        li
          img(src='/images/vinetki/24.png')
        li
          img(src='/images/vinetki/25.png')
        li
          img(src='/images/vinetki/26.png')
        li
          img(src='/images/vinetki/27.png')
        li
          img(src='/images/vinetki/28.png')
        li
          img(src='/images/vinetki/29.png')
        li
          img(src='/images/vinetki/3.png')
        li
          img(src='/images/vinetki/30.png')
        li
          img(src='/images/vinetki/31.png')
        li
          img(src='/images/vinetki/32.png')
        li
          img(src='/images/vinetki/33.png')
        li
          img(src='/images/vinetki/34.png')
        li
          img(src='/images/vinetki/35.png')
        li
          img(src='/images/vinetki/36.png')
        li
          img(src='/images/vinetki/37.png')
        li
          img(src='/images/vinetki/38.png')
        li
          img(src='/images/vinetki/39.png')
        li
          img(src='/images/vinetki/4.png')
        li
          img(src='/images/vinetki/40.png')
        li
          img(src='/images/vinetki/5.png')
        li
          img(src='/images/vinetki/6.png')
        li
          img(src='/images/vinetki/7.png')
        li
          img(src='/images/vinetki/8.png')
        li
          img(src='/images/vinetki/9.png')
    .face-panel.addImg
      .accordeon.ramka Рамки
      ul.hide
        li
          img(src='/images/ramka/1.png')
        li
          img(src='/images/ramka/10.png')
        li
          img(src='/images/ramka/11.png')
        li
          img(src='/images/ramka/12.png')
        li
          img(src='/images/ramka/13.png')
        li
          img(src='/images/ramka/14.png')
        li
          img(src='/images/ramka/15.png')
        li
          img(src='/images/ramka/16.png')
        li
          img(src='/images/ramka/17.png')
        li
          img(src='/images/ramka/18.png')
        li
          img(src='/images/ramka/19.png')
        li
          img(src='/images/ramka/2.png')
        li
          img(src='/images/ramka/20.png')
        li
          img(src='/images/ramka/21.png')
        li
          img(src='/images/ramka/22.png')
        li
          img(src='/images/ramka/23.png')
        li
          img(src='/images/ramka/24.png')
        li
          img(src='/images/ramka/25.png')
        li
          img(src='/images/ramka/26.png')
        li
          img(src='/images/ramka/27.png')
        li
          img(src='/images/ramka/28.png')
        li
          img(src='/images/ramka/29.png')
        li
          img(src='/images/ramka/3.png')
        li
          img(src='/images/ramka/30.png')
        li
          img(src='/images/ramka/31.png')
        li
          img(src='/images/ramka/32.png')
        li
          img(src='/images/ramka/33.png')
        li
          img(src='/images/ramka/34.png')
        li
          img(src='/images/ramka/35.png')
        li
          img(src='/images/ramka/36.png')
        li
          img(src='/images/ramka/37.png')
        li
          img(src='/images/ramka/38.png')
        li
          img(src='/images/ramka/39.png')
        li
          img(src='/images/ramka/4.png')
        li
          img(src='/images/ramka/40.png')
        li
          img(src='/images/ramka/5.png')
        li
          img(src='/images/ramka/6.png')
        li
          img(src='/images/ramka/7.png')
        li
          img(src='/images/ramka/8.png')
        li
          img(src='/images/ramka/9.png')
    .face-panel.addImg
      .accordeon.pticy Птицы
      ul.hide
        li
          img(src='/images/pticy/1.png')
        li
          img(src='/images/pticy/2.png')
        li
          img(src='/images/pticy/3.png')
        li
          img(src='/images/pticy/4.png')
        li
          img(src='/images/pticy/5.png')
        li
          img(src='/images/pticy/6.png')
        li
          img(src='/images/pticy/7.png')
        li
          img(src='/images/pticy/8.png')
        li
          img(src='/images/pticy/9.png')
    .face-panel.addImg
      .accordeon.vetv Ветви
      ul.hide
        li
          img(src='/images/vetki/vetv1.png')
        li
          img(src='/images/vetki/vetv10.png')
        li
          img(src='/images/vetki/vetv11.png')
        li
          img(src='/images/vetki/vetv12.png')
        li
          img(src='/images/vetki/vetv2.png')
        li
          img(src='/images/vetki/vetv3.png')
        li
          img(src='/images/vetki/vetv4.png')
        li
          img(src='/images/vetki/vetv5.png')
        li
          img(src='/images/vetki/vetv6.png')
        li
          img(src='/images/vetki/vetv7.png')
        li
          img(src='/images/vetki/vetv8.png')
        li
          img(src='/images/vetki/vetv9.png')
    .face-panel.addImg
      .accordeon.peyzazh Пейзажи
      ul.hide
        li
          img(src='/images/peyzazh/peyzazh1.png')
        li
          img(src='/images/peyzazh/peyzazh2.png')
        li
          img(src='/images/peyzazh/peyzazh3.png')
        li
          img(src='/images/peyzazh/peyzazh4.png')
        li
          img(src='/images/peyzazh/peyzazh5.png')
        li
          img(src='/images/peyzazh/peyzazh6.png')
        li
          img(src='/images/peyzazh/peyzazh7.png')
        li
          img(src='/images/peyzazh/peyzazh8.png')
        li
          img(src='/images/peyzazh/peyzazh9.png')
    .face-panel.addImg
      .accordeon.cvetok Цветы
      ul.hide
        li
          img(src='/images/flowers/cvetok1.png')
        li
          img(src='/images/flowers/cvetok10.png')
        li
          img(src='/images/flowers/cvetok11.png')
        li
          img(src='/images/flowers/cvetok12.png')
        li
          img(src='/images/flowers/cvetok13.png')
        li
          img(src='/images/flowers/cvetok14.png')
        li
          img(src='/images/flowers/cvetok15.png')
        li
          img(src='/images/flowers/cvetok16.png')
        li
          img(src='/images/flowers/cvetok17.png')
        li
          img(src='/images/flowers/cvetok18.png')
        li
          img(src='/images/flowers/cvetok19.png')
        li
          img(src='/images/flowers/cvetok2.png')
        li
          img(src='/images/flowers/cvetok20.png')
        li
          img(src='/images/flowers/cvetok21.png')
        li
          img(src='/images/flowers/cvetok22.png')
        li
          img(src='/images/flowers/cvetok23.png')
        li
          img(src='/images/flowers/cvetok24.png')
        li
          img(src='/images/flowers/cvetok25.png')
        li
          img(src='/images/flowers/cvetok26.png')
        li
          img(src='/images/flowers/cvetok27.png')
        li
          img(src='/images/flowers/cvetok28.png')
        li
          img(src='/images/flowers/cvetok29.png')
        li
          img(src='/images/flowers/cvetok3.png')
        li
          img(src='/images/flowers/cvetok30.png')
        li
          img(src='/images/flowers/cvetok31.png')
        li
          img(src='/images/flowers/cvetok32.png')
        li
          img(src='/images/flowers/cvetok33.png')
        li
          img(src='/images/flowers/cvetok34.png')
        li
          img(src='/images/flowers/cvetok35.png')
        li
          img(src='/images/flowers/cvetok36.png')
        li
          img(src='/images/flowers/cvetok37.png')
        li
          img(src='/images/flowers/cvetok38.png')
        li
          img(src='/images/flowers/cvetok39.png')
        li
          img(src='/images/flowers/cvetok4.png')
        li
          img(src='/images/flowers/cvetok40.png')
        li
          img(src='/images/flowers/cvetok41.png')
        li
          img(src='/images/flowers/cvetok42.png')
        li
          img(src='/images/flowers/cvetok43.png')
        li
          img(src='/images/flowers/cvetok44.png')
        li
          img(src='/images/flowers/cvetok45.png')
        li
          img(src='/images/flowers/cvetok46.png')
        li
          img(src='/images/flowers/cvetok47.png')
        li
          img(src='/images/flowers/cvetok48.png')
        li
          img(src='/images/flowers/cvetok49.png')
        li
          img(src='/images/flowers/cvetok5.png')
        li
          img(src='/images/flowers/cvetok50.png')
        li
          img(src='/images/flowers/cvetok51.png')
        li
          img(src='/images/flowers/cvetok52.png')
        li
          img(src='/images/flowers/cvetok53.png')
        li
          img(src='/images/flowers/cvetok54.png')
        li
          img(src='/images/flowers/cvetok55.png')
        li
          img(src='/images/flowers/cvetok56.png')
        li
          img(src='/images/flowers/cvetok57.png')
        li
          img(src='/images/flowers/cvetok58.png')
        li
          img(src='/images/flowers/cvetok59.png')
        li
          img(src='/images/flowers/cvetok6.png')
        li
          img(src='/images/flowers/cvetok60.png')
        li
          img(src='/images/flowers/cvetok61.png')
        li
          img(src='/images/flowers/cvetok62.png')
        li
          img(src='/images/flowers/cvetok63.png')
        li
          img(src='/images/flowers/cvetok64.png')
        li
          img(src='/images/flowers/cvetok7.png')
        li
          img(src='/images/flowers/cvetok8.png')
        li
          img(src='/images/flowers/cvetok9.png')
    .face-panel.addImg
      .accordeon.uzor Узоры
      ul.hide
        li
          img(src='/images/uzor/uzor1.png')
        li
          img(src='/images/uzor/uzor2.png')
        li
          img(src='/images/uzor/uzor3.png')
        li
          img(src='/images/uzor/uzor4.png')
        li
          img(src='/images/uzor/uzor5.png')
        li
          img(src='/images/uzor/uzor6.png')
    .face-panel.addImg
      .accordeon.voin Военные
      ul.hide
        li
          img(src='/images/voin/voin1.png')
        li
          img(src='/images/voin/voin10.png')
        li
          img(src='/images/voin/voin11.png')
        li
          img(src='/images/voin/voin12.png')
        li
          img(src='/images/voin/voin13.png')
        li
          img(src='/images/voin/voin14.png')
        li
          img(src='/images/voin/voin15.png')
        li
          img(src='/images/voin/voin16.png')
        li
          img(src='/images/voin/voin17.png')
        li
          img(src='/images/voin/voin18.png')
        li
          img(src='/images/voin/voin19.png')
        li
          img(src='/images/voin/voin2.png')
        li
          img(src='/images/voin/voin20.png')
        li
          img(src='/images/voin/voin21.png')
        li
          img(src='/images/voin/voin22.png')
        li
          img(src='/images/voin/voin23.png')
        li
          img(src='/images/voin/voin24.png')
        li
          img(src='/images/voin/voin25.png')
        li
          img(src='/images/voin/voin26.png')
        li
          img(src='/images/voin/voin27.png')
        li
          img(src='/images/voin/voin28.png')
        li
          img(src='/images/voin/voin3.png')
        li
          img(src='/images/voin/voin4.png')
        li
          img(src='/images/voin/voin5.png')
        li
          img(src='/images/voin/voin6.png')
        li
          img(src='/images/voin/voin7.png')
        li
          img(src='/images/voin/voin8.png')
        li
          img(src='/images/voin/voin9.png')
    p(style='margin: 10px 5px; padding: 0;') Мусульманская тематика:
    .face-panel.addImg
      .accordeon.mecheti Мечети
      ul.hide
        li
          img(src='/images/mecheti/mechet1.png')
        li
          img(src='/images/mecheti/mechet10.png')
        li
          img(src='/images/mecheti/mechet11.png')
        li
          img(src='/images/mecheti/mechet12.png')
        li
          img(src='/images/mecheti/mechet13.png')
        li
          img(src='/images/mecheti/mechet14.png')
        li
          img(src='/images/mecheti/mechet15.png')
        li
          img(src='/images/mecheti/mechet16.png')
        li
          img(src='/images/mecheti/mechet2.png')
        li
          img(src='/images/mecheti/mechet3.png')
        li
          img(src='/images/mecheti/mechet4.png')
        li
          img(src='/images/mecheti/mechet5.png')
        li
          img(src='/images/mecheti/mechet6.png')
        li
          img(src='/images/mecheti/mechet7.png')
        li
          img(src='/images/mecheti/mechet8.png')
        li
          img(src='/images/mecheti/mechet9.png')
    .face-panel.addImg
      .accordeon.msimvol Символика
      ul.hide
        li
          img(src='/images/msimvol/msimvolika1.png')
        li
          img(src='/images/msimvol/msimvolika10.png')
        li
          img(src='/images/msimvol/msimvolika11.png')
        li
          img(src='/images/msimvol/msimvolika12.png')
        li
          img(src='/images/msimvol/msimvolika13.png')
        li
          img(src='/images/msimvol/msimvolika3.png')
        li
          img(src='/images/msimvol/msimvolika4.png')
        li
          img(src='/images/msimvol/msimvolika5.png')
        li
          img(src='/images/msimvol/msimvolika6.png')
        li
          img(src='/images/msimvol/msimvolika7.png')
        li
          img(src='/images/msimvol/msimvolika8.png')
        li
          img(src='/images/msimvol/msimvolika9.png')
    .face-panel.addImg
      .accordeon.epitafiya Надписи
      ul.hide
        li
          img(src='/images/mnadpisi/mnadpis1.png')
        li
          img(src='/images/mnadpisi/mnadpis2.png')
        li
          img(src='/images/mnadpisi/mnadpis3.png')
        li
          img(src='/images/mnadpisi/mnadpis4.png')
    .face-panel.addImg
      .accordeon.muzor Узоры
      ul.hide
        li
          img(src='/images/muzor/uzor1.png')
        li
          img(src='/images/muzor/uzor2.png')
        li
          img(src='/images/muzor/uzor3.png')
        li
          img(src='/images/muzor/uzor4.png')
        li
          img(src='/images/muzor/uzor5.png')
        li
          img(src='/images/muzor/uzor6.png')
        li
          img(src='/images/muzor/uzor7.png')
    p(style='margin: 10px 5px; padding: 0;') Действия с эскизом:
    a#download(download='memorial.png' href onclick='download_img(this);')
      .button-download
        img(src='/images-icons/download.svg' alt style='max-height: 20px;')
        span Скачать
    br
    button.button#printCanvas
      img(src='/images-icons/print.svg' alt)
      span Распечатать
    br
    br
    button.button-zakaz#jsonCanvas
      img(src='/images-icons/mail.svg' alt)
      span Заявка