.central-part-wrapper
	.central-part
		h1.header Helineo
		h3.description Webpack engine with installed bootstrap, Stylus and Pug. JS part uses Typescript ES6. Ready for plugin or simple site development
		a.link(href="https://github.com/DenTivor/helineo" target="_blank") Download!