.core-features-modal(element-id='core-features-modal' view-type='modal')
	.modal.fade(tabindex="-1", role="dialog" )
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header
					h4.modal-title Helineo engine core features
				.modal-body
					ul
						li Nested layers architecture: One main layer wraps single-position layers
						li Action-based components interaction
						li Components inheritance ability
						li Application Layer global action control
						li Hot page reload on tsx or pug files changes
				.modal-footer
					button.btn.btn-default(type="button", data-dismiss="modal") Close
					button.btn.btn-primary(type="button") Accept